/* Стили для заголовков */
h1, h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem 0;
}

/* Стили для навигации */
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* Стили для секций */
section {
  margin: 3rem 0;
  padding: 1rem;
}
section p {
  font-size: 1.2rem;
}

/* Стили для футера */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.overlay-show {
  animation: overlay-show-animation 0.5s;
}

.overlay-hide {
  animation: overlay-hide-animation 0.5s;
}

@keyframes overlay-show-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
